
{% extends 'base.html' %}
{% block content %}
    <main role="main" class="container">
      <h3 class="pb-3 mb-4 font-italic text-center">Sobre o projeto desenvolvido nesse website:</h1>
    </main><!-- /.container -->
    <div class="team">
        <div class="container">
                    
            <div class="row ">
                <div class="text-center border-bottom">  
                    <h2><span class="ion-minus"></span>Nosso time<span class="ion-minus"></span></h2>
                    <p>Grupo que desenvolveu o projeto de análise de dados sobre oncologia e o seu web-site </p><br>
                </div> 
            </div>
                    
          <div class="row text-center">
              
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
                     <img class="img-rounded" alt="team-photo" src="https://avatars3.githubusercontent.com/u/9133395?s=460&v=4" width="70%"> 
                     
                     <div class="team-member">      
                      <h4>Bianca Cardoso</h4>
                      <p>Web developer</p>
                     </div>
                     
                     <p class="social">
                       <a href="#"><span class="fa fa-linkedin-square"></span></a>
                       <a href="https://github.com/biigue"><span class="fa fa-github-square"></span></a>
                     </p>
                                              
             </div> <!--col-lg-4 -->
                
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
                     <img class="img-rounded" alt="team-photo" src="https://avatars1.githubusercontent.com/u/28111270?s=460&v=4" width="70%">
                     
                     <div class="team-member">               
                      <h4>Brunna Arruda</h4>
                      <p></p>
                     </div>
                     
                     <p class="social">
                        <a href="#"><span class="fa fa-linkedin-square"></span></a>
                        <a href="https://github.com/brunnaarruda"><span class="fa fa-github-square"></span></a>
                      </p>
                                              
             </div> <!--col-lg-4 -->
                
             <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
                     <img class="img-rounded" alt="team-photo" src="https://scontent.frec3-1.fna.fbcdn.net/v/t1.0-9/40101645_1033384530156400_5376217882474577920_n.jpg?_nc_cat=108&_nc_oc=AQkMOvvfmItbWa1pfGg8VUR1eNY0QkGluzWeB-_EID8V2qRLe57HmNFCX8Tvil0lI0w&_nc_ht=scontent.frec3-1.fna&oh=bd55c2aa8bca5f9654d832d9b2d37df9&oe=5D877EDC" width="70%"> 
                     
                     <div class="team-member">
                      <h4>Djair Batista</h4>
                      <p>Developer</p>
                     </div>
                     
                     <p class="social">
                        <a href="#"><span class="fa fa-linkedin-square"></span></a>
                        <a href="https://github.com/djairb"><span class="fa fa-github-square"></span></a>
                      </p>
                                              
                </div> <!-- col-lg-4 -->
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
                    <img class="img-rounded" alt="team-photo" src="https://avatars3.githubusercontent.com/u/20489309?s=460&v=4" width="70%"> 
                    
                    <div class="team-member">      
                     <h4>Kimbelly Ferraz</h4>
                     <p>Web developer and web designer</p>
                    </div>
                    
                    <p class="social">
                        <a href="#"><span class="fa fa-linkedin-square"></span></a>
                        <a href="https://github.com/Kimbellyf"><span class="fa fa-github-square"></span></a>
                      </p>
                                             
            </div> <!--col-lg-4 -->

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                   
                <img class="img-rounded" alt="team-photo" src="https://avatars2.githubusercontent.com/u/39577980?s=460&v=4" width="70%"> 
                
                <div class="team-member">      
                 <h4>Thiago César</h4>
                 <p>Developer</p>
                </div>
                <p class="social">
                    <a href="#"><span class="fa fa-linkedin-square"></span></a>
                    <a href="https://github.com/ThiagoCMS"><span class="fa fa-github-square"></span></a>
                  </p>
                                         
            </div> <!--col-lg-4 -->
                       
          </div>  <!-- row text-center -->
              
        </div>    
    </div>

{% endblock %}